.hero-right{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.profile-image{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:50%;
    cursor:pointer;
    border:4px solid #1e3a5f;
}
#changePassword {
    background-color: #e95d6b;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

#changePassword:hover {
    background-color: #b02a37;
}
