<aside class="sidebar" id="sidebar">
    <div class="logo">
        <h2>Coordinador</h2>
    </div>

    <ul>
        <li><a href="../control/periods.html">Cursos</a></li>
        <li><a href="../coordinator/squads.html">Escuelas</a></li>
        <li><a href="../coordinator/contents.html">Contenido</a></li>
        <li><a href="../coordinator/advisers.html">Asesores</a></li>
        <li><a href="../counter/teachers.html">Docentes</a></li>
        <li><a href="../coordinator/document.html">Documento</a></li>
        <li><a href="../adviser/bill.html">Comprobantes de Pago</a></li>
        <li><a href="../adviser/receipt.html">Recibos</a></li>
        <li><a href="../coordinator/code.html">Clave Escolar</a></li>
        <li><a href="../user/register.html">Registrar Usuario</a></li>
        <li><a href="../user/profile.html">Perfil</a></li>
        <li><a href="#" id="logoutBtn">Cerrar Sesión</a></li>
    </ul>

</aside>