<aside class="sidebar" id="sidebar">
    <div class="logo">
        <h2>Coordinador</h2>
    </div>

    <ul>
        <li><a href="../coordinator/courses.html">Cursos</a></li>
        <li><a href="../coordinator/squads.html">Escuelas</a></li>
        <li><a href="../coordinator/contents.html">Contenido</a></li>
        <li><a href="../coordinator/advisers.html">Asesores</a></li>
        <li><a href="../coordinator/teachers.html">Docentes</a></li>
        <li><a href="../coordinator/students.html">Alumnos</a></li>
        <li><a href="../coordinator/bill.html">Factura</a></li>
        <li><a href="#" id="logoutBtn">Cerrar Sesión</a></li>
    </ul>

</aside>